.product-about__flex {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin: 50px 0px;
}

.product-images__wrapper {
    .main-product__photo {
        height: 700px;
        object-fit: contain;
    }

    .images-little_wrapper {
        margin-top: 30px;

        img {
            width: 150px;
            height: 150px;
            border-radius: 10px;
        }
    }

}

.product-text__wrapper {
    h1 {
        font-size: 35px;
        font-weight: 900;
    }

    select {
        background: #4361ee;
        border-radius: 10px;
        font-size: 20px;
        outline: none;
        border: none;
        color: #fff;
        padding: 15px 0px 10px 15px;
        width: 200px;
    }

    .category-box {
        margin: 40px 0;
        gap: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        span {
            font-size: 18px;
            background: #4361ee;
            padding: 10px 40px;
            border-radius: 10px;
            color: #fff;
        }

        svg {
            font-size: 25px;
            color: grey;
            // margin: 10px;
        }
    }

}

.basic__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__price {
    font-size: 50px;
    color: #4361ee;
    font-weight: 900;
    margin-top: 20px;
}

.product__description-p {
    font-size: 23px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
    margin: 30px 0px;
}

.product__quantity {
    font-size: 25px;
    font-weight: 500;
}

.product__amount {
    font-size: 25px;
    font-weight: 500;
    margin-right: 10px;
}